# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
env/
ui/recording-storage/

# Environment variables
.env
.env.*

# Databases / local files
*.db
*.sqlite
*.sqlite3

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log
*.err
